* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

#mbody {
    min-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#top {
    margin: 8px;
    margin-bottom: 0px;
    height: calc(100% - 96px);
    max-height: 100%;
    display: flex;
    flex-direction: row;
}

.barb {
    display: none;
}

#bar {
    margin: 8px;
    color: white;
    min-width: 825px;
    min-height: 72px;
    height: 72px;
    max-height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sb {
    width: 25%;
    max-width: 420px;
    min-width: 280px;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
}

.main {
    flex: 1;
    height: 100%;
    min-width: 475px;
    margin-left: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 8px;
    background-color: rgb(18, 18, 18);
}

#sb2 {
    width: 0%;
    max-width: 420px;
    border-radius: 8px;
    height: 100%;
    overflow-y: scroll;
}


.btns {
    min-height: 96px;
    height: 96px;
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-evenly;
    row-gap: 16px;
}

#library {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0%;
    height: calc(100% - 120px);
    background-color: rgb(18, 18, 18);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.main #home {
    padding: 16px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}

.main #sd {
    overflow-y: scroll;
    height: 100%;
    display: none;
}

.srchd {
    padding: 0px 16px 150px 16px;
    display: none;
}

.srchinfo {
    margin-top: 16px;
}

.mnt {
    width: 100%;
    background-size: contain;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
}

.mnb {
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 16px;
}

.sbc {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(35, 35, 35);
}

#lftrgt {
    z-index: 2;
    position: absolute;
    width: fit-content;
    margin: 16px;
}

#lftrgt button {
    display: inline-flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0, .7);
    border-radius: 50%;
}

#lftrgt svg {
    fill: white;
    width: 16px;
    height: 16px;
}

#rgt svg {
    transform: rotate(180deg);
}

#sssearch {
    height: 16px;
    top: 3px;
    left: 87px;
    position: relative;
}

.foldrinf {
    margin-left: 16px;
    margin-top: 100px;
    margin-bottom: 20px;
    max-height: 217px;
    max-width: 917px;
    min-height: 146.4px;
    display: flex;
    flex-direction: row;
}

.gpbc {
    margin-top: 8px;
    position: relative;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.stky {
    background-color: rgb(18, 18, 18);
    padding-left: 16px;
    padding-right: 16px;
    z-index: 1;
    top: 0;
    position: sticky;
}

.gpb {
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    min-height: 48px;
    width: 48px;
    background-color: #1fdf64;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0s;
    transform: translateX(0);
}

.sticky .gpb {
    transform: translateX(70px);
}

.gpb:hover {
    margin-left: 0px;
    width: 52px;
    height: 52px;
}

.gpb:hover .gplay {
    height: 26px;
    width: 26px;
}

.gplay {
    fill: black;
    height: 24px;
    width: 24px;
}

.fvcv {
    width: 23.385%;
    min-width: 146.4px;
    content: '';
    display: block;
    padding-top: 23.385%;
    border-radius: 8px;
    background-image: url(assets/default_image.png);
    background-size: cover;
    margin-right: 10px;
}

.finf {
    display: flex;
    flex-direction: column-reverse;
    justify-items: end;
}

.songsd {
    display: flex;
    flex-direction: row;
}

#scount {
    text-align: right;
}

#lcount {
    color: #a7a7a7;
}

.songsd p {
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
}

#fldrname {
    font-weight: 900;
    font-size: 5rem;
}

@media (max-width:904px) {
    #fldrname {
        font-size: 32px;
    }
}

#sb2c {
    height: 100%;
    max-width: 100%;
    background-color: rgb(18, 18, 18);
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
}


svg {
    width: 24px;
}

.lh svg {
    min-width: 24px
}

button {
    cursor: pointer;
    color: rgb(179, 179, 179);
    background-color: rgb(18, 18, 18);
    text-align: left;
    border: 0px solid rgb(179, 179, 179);
}

#plh {
    font-size: 24px;
    margin-left: 24px;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
}

.pdetails {
    margin: 20px;
    background-color: rgb(24, 24, 24);
    border-radius: 8px;
    height: 198px;
    width: 146px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list {

    height: 16px;
    width: 16px;
}

.grid {
    display: none;
    height: 16px;
    width: 16px;
}

.pdetails title {
    font-weight: 400;
}

.pdetails p {
    font-weight: 400;
    color: #a7a7a7;
}

.pcover {
    background-image: url(assets/default_image.png);
    background-size: cover;
    border-radius: 8px;
    width: 146px;
    height: 146px;
}


.home,
.search,
.lib {
    padding-left: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.lib svg:hover {
    fill: white;
    color: #a7a7a7;
    transition: fill 0.3s ease;
    transition: color 0.5s ease;
}

button p,
#yrlib {
    font-weight: 600;
    color: rgb(179, 179, 179);
    transition: color 0.5s ease;
}

#folder-input {
    display: none;
}

.btns p {
    margin-left: 20px;
}

.lib:hover #yrlib {
    color: white;
    transition: color 0.5s ease;
}

#yrlib {
    margin-left: 12px;
}



.lh {
    min-height: 50px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.libicon {
    min-width: 24px;
    min-height: 24px;
}

#libf button {
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
}

#libf button:hover {
    background-color: rgb(35, 35, 35);
}

#libf button:hover .dYnaPI {
    fill: white;
    transition: fill 0.3s ease;
}

#libf path {
    min-width: 16px;
    min-height: 16px;

}

#queue:hover {
    cursor: pointer;
}

.Svg-sc-ytk21e-0 {
    fill: rgb(179, 179, 179);
    transition: fill 0.5s ease;
}

.lh button {
    align-content: center;
    justify-content: center;
}

.lh button .Svg-sc-ytk21e-0 {
    border-radius: 50%;
    padding: 8px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    transition: fill 0.5s ease;
}

#library .filt {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    margin: 12px;
}

#home .filt {
    column-gap: 10px;
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 16px;
    z-index: 0;
    top: 0px;
    position: sticky;
    background-color: rgb(18, 18, 18);
}

#playlistFilt,
#artistFilt {
    height: 30px;
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    padding: 16px;
    text-align: center;
    width: auto;
    display: flex;
    align-items: center;
}

.srchflt {
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

#srtby button {
    display: flex;
    flex-direction: row;
    align-content: center;
}

#srtby button p {
    margin-right: 5px;
}

.srchflt .Svg-sc-ytk21e-0 {
    width: 18px;
}

#sb2 #cover {
    background-image: url(assets/default_image.png);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100%;
    content: '';
    display: block;
    padding-top: 100%;
    background-size: cover;

}

#album {
    max-height: 22px;
    min-height: 22px;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 6px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

#title {
    height: 40px;
    min-height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    line-height: 50px;
}

#artist {
    min-height: 16px;
    height: 16px;
    overflow: hidden;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(179, 179, 179);
}

#artist1 {
    height: 18px;
    min-height: 18px;
    overflow: hidden;
}

#artsinfo {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 16px;
}

.niq {
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    padding: 20px;
    min-height: 100px;
    background-color: rgb(35, 35, 35);
    margin-bottom: 16px;
}

.ln {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cover1 {
    width: 56px;
    border-radius: 2px;
    height: 56px;
    background-size: cover;
    background-color: white;
}

#bar #cover2 {
    background-image: url(assets/default_image.png);
    border-radius: 4px;
    width: 56px;
    height: 56px;
    min-width: 56px;
    min-height: 56px;
    background-size: cover;
    margin-right: 16px;
}

#bar #info {
    width: 29.3199%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bar #title2 {

    margin-top: 4px;
    font-size: 0.875rem;
    height: 18.4px;
    overflow: hidden;
    max-width: 380px;
}

#bar #artist2 {
    margin-top: 4px;
    font-size: 0.75rem;
    height: 16px;
    overflow: hidden;
}

#mp3p {
    width: 39.791%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.controls {
    margin-top: 8px;
    column-gap: 16px;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.controls button {
    background-color: black;
}

#pleft {
    margin-right: 1.5%;
    justify-content: right;
}

#prght {
    margin-left: 1.5%;
    justify-content: left;
}

#pleft,
#prght {
    width: 44.738%;
    align-content: center;
    display: flex;
    height: 16px;
    flex-direction: row;
    column-gap: 10%;
}

.controls svg {
    width: 16px;
    height: 16px;
}

.controls #shuffle {
    width: 16px;
    height: 16px;
}

.controls button svg {
    color: #a7a7a7;
    fill: rgb(179, 179, 179);
}

.controls button svg:hover {
    fill: white;
}

.controls #prevBtn {
    width: 14px;
    height: 16px;
}

.controls #playBtn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-size: cover;
    background-image: url(assets/play.png);
}


.controls #nextBtn {
    width: 16px;
    height: 16px;
}

.controls #repeat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16px;
    height: 16px;
}

.repeat {
    position: absolute;
}

.repeat:hover {
    fill: white;
}

.one {
    display: none;
    position: absolute;
    font-weight: bold;
    color: #1db954;
    font-size: 8px;
}

#ncontrol {
    position: relative;
    top: 0px;
    width: 100%;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    column-gap: 8px;
}

#pleft,
#prght {
    margin-top: auto;
    margin-bottom: auto;
}

#br {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 8px;
    height: 16px;
    width: 29.8437%;
}

#br svg {
    height: 16px;
}

#artist2,
#nartist {
    color: #a7a7a7;
}

#bar #info #bsinfo {
    justify-items: center;
    font-weight: 400;
    justify-content: space-evenly;

    display: flex;
    flex-direction: column;
    text-align: left;
}

a {
    text-decoration: none;
}

#artsinfo {
    margin-top: 10px;
}

#library #info {
    padding-top: 5%;
    padding-bottom: 5%;
}

#library #info:hover {
    background-color: transparent;
}



#tinfo {
    background-color: rgb(18, 18, 18);
    max-height: 35.2px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

.mnb #info {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179, 179, 179);
}

hr {
    color: #a7a7a7;
    color: rgb(179, 179, 179);
}

.mnb #info,
#tinfo,
#sinfo {
    display: inline-block;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    height: 54px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.mnb #info:hover,
#sinfo:hover {
    border-radius: 4px;
    background-color: rgb(57, 57, 57);
}

#lcs,
#slcs {
    overflow: hidden;
    width: 40%;
    display: flex;
    flex-direction: row;
}

#lcover,
#slcover {
    min-width: 40px;
    width: 40px;
    border-radius: 4px;
    height: 40px;
    background-image: url(assets/default_image.png);
    background-size: cover;
}

#ltitle,
#sltitle {
    font-weight: bold;
    color: white;
    font-size: auto;
    overflow: hidden;
    height: 20px;
}

#lartist,
#slartist {
    height: 20px;
    font-size: auto;
    overflow: hidden;
    color: #a7a7a7;
}

#lalbum,
#slalbum {
    height: 20px;
    overflow: hidden;
    width: 30%;
    color: #a7a7a7;
}

#ldateAdded,
#sldateAdded {
    width: 15%;
    color: #a7a7a7;
}

#llength,
#sllength {
    width: 6%;
    color: #a7a7a7;
}

#llength svg {
    height: 16px;
}

#lsinfo,
#slsinfo {
    margin-left: 12px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#lserial {
    min-width: 30px;
    text-align: right;
}


.libmn {
    overflow-x: hidden;
    overflow-y: scroll;
}

.subfolder-details {
    justify-content: left;
    display: flex;
    flex-direction: column-reverse;
}

.subfolder-details .sfcontainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 4px;
}

.sfcontainer p {
    font-weight: 400;
}

.subfolder-details div .sfc {
    border-radius: 4px;
    background-image: url(assets/default_image.png);
    background-size: cover;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    margin-right: 10px;
}

.subfolder-details div div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    white-space: nowrap;
}

.subfolder-details div:hover {

    background-color: rgb(57, 57, 57);
}

.sfl {
    display: none;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background-color: rgb(18, 18, 18);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(57, 57, 57);
}

#lfinfo {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 4px;
}

#lfinfo #fcover {
    border-radius: 4px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    background-image: url(assets/liked_songs.png);
    margin-right: 10px;
    background-size: contain;
}

#lfinfo #finfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#lfinfo:hover {
    background-color: rgb(57, 57, 57);
}

#ninfo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-radius: 4px;
}

#ninfo #ncover {
    border-radius: 4px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    background-image: url(assets/default_image.png);
    background-size: cover;
}

#ntitle,
#nartist {
    overflow: hidden;
    max-height: 18.4px;
}

#ninfo #nsinfo {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#ninfo:hover {
    background-color: rgb(57, 57, 57);
}

#currentTime {
    text-align: right;
}

#currentTime,
#duration {
    color: #fff;
    width: 40px;
    font-size: 12px;
}



footer {
    margin-top: 100px;
    text-align: center;
}

footer h1 {
    font-size: 65px;
}

footer h4 {
    font-size: 45px;
}

#logos a,
#logos img {
    width: 35px;
    height: 35px;
}

#person {
    display: flex;
    flex-direction: column;
}

@media (max-width:767px) {

    #lalbum,
    #slalbum {
        display: none;
    }

    #lcs,
    #slcs {
        width: 260px;
    }

    #info,
    #sinfo {
        width: 300px;
    }

    #ltitle,
    #sltitle,
    #lartist,
    #slartist {
        max-width: 200px;
    }


    .mnb #info,
    #tinfo,
    #sinfo {
        width: 91%;
    }

}

@media (max-width:1200px) {

    #ldateAdded,
    #sldateAdded {
        display: none;
    }

    #lalbum,
    #slalbum {
        width: 45%;
    }
}

@media (max-width:1150px) {

    #lalbum,
    #slalbum {
        width: 40%;
    }
}

@media (max-width:1079px) {

    #lalbum,
    #slalbum {
        display: none;
    }

    #lcs,
    #slcs {
        width: 80%;
    }
}


input[type="range"] {
    z-index: 5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

.prange-container {
    margin-top: 5px;
    width: 87.076%;
}

.vrange-container {
    margin-top: 6px;
    width: 100px;
}

.prange-container,
.vrange-container {
    border-radius: 4px;
    max-height: 4px;
    position: relative;
    background: rgb(100, 100, 100);
}

.prange-thumb,
.prange-track,
.vrange-thumb,
.vrange-track {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.1s;
}

.prange-track {
    width: 0%;
}

.vrange-track {
    width: 50%;
}

.prange-track,
.vrange-track {
    background: white;
}

.prange-container:hover .prange-track,
.vrange-container:hover .vrange-track {
    background: #1db954;
}

#progressBar,
#volumeControl {
    position: absolute;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}

#progressBar,
#volumeControl {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: white;
    }
}

#progressBar:hover,
#volumeControl:hover {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
    }
}

#volumeControl:hover::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
}

.home:hover .Svg-sc-ytk21e-0,
.home:hover p,
.lib:hover .Svg-sc-ytk21e-0,
.lib:hover p,
.search:hover .Svg-sc-ytk21e-0,
.search:hover p,
#srtby:hover .Svg-sc-ytk21e-0,
#srtby:hover p {
    cursor: pointer;
    color: white;
    fill: white;
}

#ocg {
    cursor: pointer;
}

.scrollable-text {
    min-height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

@keyframes scrollText {
    5% {
        transform: translateX(0);
    }

    35% {
        transform: translateX(calc(var(--text-width)));
    }

    45% {
        transform: translateX(calc(var(--text-width)));
    }

    95% {
        transform: translateX(0);
    }
}

#folderSearchInput {
    border-radius: 4px;
    z-index: 1;
    color: white;
    background-color: rgb(42, 42, 42);
    width: 0px;
    min-height: 32px;
    outline: none;
    padding: 0px 0px;
    border: 0px solid rgb(42, 42, 42);
    transition: width 0.3s ease-in, padding 0.3s ease-in;
}

#libsearch {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    min-height: 32px;
    min-width: 32px;
}

#libsearch svg {
    z-index: 5;
    height: 16px;
    width: 16px;
}

#libsearch:hover {
    background-color: rgb(35, 35, 35);
}

#libsearch:hover svg {
    fill: white;
}

#searchFolder {
    position: absolute;
    margin-left: 0px;
    max-width: 0px;
}
#fmnsb{
    display: flex;
    flex-direction: row;
}
#fmnsb:focus-within #searchFolder {
    max-width: 188px;
}

#fmnsb:focus-within #folderSearchInput {
    width: 166px;
    height: 32px;
    padding: 8px 32px;
}


.srchhdr {
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    z-index: 0;
    top: 0px;
    position: sticky;
    background-color: rgb(18, 18, 18);
}

#searchInput {
    margin-left: 50px;
    background-color: rgb(36, 36, 36);
    min-width: 364px;
    min-height: 48px;
    padding: 6px 36px;
    border: 0px solid rgb(36, 36, 36);
    border-radius: 48px;
}

#searchInput::selection {
    outline: 2px white;
}

#playBtn path {
    display: none;
}

.mobilenav {
    display: none;
}

@media (max-width:600px) {
    .main #home {
        padding: 0px;
    }

    #top,
    #main {
        border-radius: 0px;
        margin: 0px;
    }

    #top {
        height: calc(100vh);
        overflow: hidden;
    }

    #home .filt {
        padding-top: 32px;
        margin-left: 0px;
        padding-left: 16px;
    }

    .main {
        background-color: black;
        min-width: 0px;
    }

    #sb2 {
        border-radius: 0px;
    }

    #library,
    #sb2c,
    .stky,
    #tinfo,
    #viewtype,
    .srchhdr,
    #home .filt {
        background-color: black;
    }

    .srchinfo {
        margin-top: 36px;
    }

    .srchhdr {
        max-height: 45px;
    }

    #lftrgt {
        display: none;
    }

    #searchInput {
        padding: 6px 48px;
        margin-top: -1px;
        height: 45px;
        margin-left: 0px;
        min-width: 0px;
        outline: 0;
        width: 100%;
        background-color: white;
        color: black;
        border-radius: 8px;
        border: 0px solid #000;
    }

    #mp3p {
        z-index: 1;
        top: -20px;
        left: -29%;
        position: relative;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
    }

    .prange-container {
        height: 2px;
        bottom: -3.75px;
        width: 100%;
    }

    #mp3p .dh {
        display: none;
    }

    #mp3p .controls {
        column-gap: 200%;
        position: relative;
        right: -48%;
    }

    #pleft,
    #prght {
        column-gap: 800%;
    }

    .controls #playBtn {
        display: none;
        left: 650%;
        position: relative;
        top: 35px;
        background-color: transparent;
    }

    .controls #playBtn .pp1 {
        display: block;
    }

    .controls {
        width: 20px;
    }

    .controls svg {
        width: 24px;
        height: 24px;
    }

    .playlists {
        overflow-x: scroll;
        flex-wrap: nowrap;
    }

    #logos {
        margin-bottom: 200px;
    }

    .one {
        top: 7.5px;
    }

    .repeat {
        top: 1px;
    }

    .barb {
        display: flex;
        z-index: 0;
        position: fixed;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
        bottom: 78.8125px;
        min-width: 0px;
        min-height: 56px;
        height: 56px;
        max-height: 56px;
        width: 100%;
    }

    #bar {
        bottom: 78px;
        position: fixed;
        border-radius: 8px;
        margin: 0px 8px 0px 8px;
        padding: 0px 8px 0px 8px;
        color: white;
        width: 92%;
        min-height: 56px;
        min-width: 0px;
        height: 56px;
        max-height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #242424;
    }

    #bar #cover2 {
        min-width: 40px;
        min-height: 40px;
        width: 40px;
        height: 40px;
    }

    #br,
    .btns,
    #sb,
    .sbc,
    .niq {
        display: none;
    }

    #mbody {
        min-width: 100%;
        width: 100%;
        background-color: black;
    }

    .mobilenav {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
        position: fixed;
        bottom: -1;
        width: 100%;
        min-height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .mobilenav svg {
        width: 30px;
    }

    #bsinfo {
        min-width: 200px;
    }

    .prange-thumb,
    .prange-track {
        height: 2px;
    }

    #sb {
        max-width: 95.5%;
        width: 100%;
    }

    #library {
        width: 100%;
        height: 100%;
    }

    #progressBar {
        position: absolute;
    }

    #album {
        align-self: center;
    }

    #currentTime,
    #duration {
        position: absolute;
    }

    #duration {
        right: -15px;
    }

    #ncontrol {
        top: 25px;
    }

    button #lft {
        background-color: black;
    }

    #sb2c {
        overflow: hidden;
        height: 78%;
        justify-content: space-between;
        border-radius: 0px;
    }

    #bar #info {
        z-index: 2;
    }

    #sssearch {
        height:24px;
        top: 35px;
        left: 16px;
        position: relative;
    }

    #sssearch path {
        fill: black
    }

    .mnb {
        padding-bottom: 150px;
    }

    #lftrgt button,
    .controls button {
        background-color: transparent;
    }

    .pdetails {
        margin: 20px 0px 20px 16px;
        width: auto;
        padding: 0px;
        background-color: #000;
    }

    .pcover {
        border-radius: 4px;
        min-width: 152px;
        min-height: 152px;
    }
}